
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

<style type="text/css">
	h3 a{
		color: #4b0082;
		text-decoration: none;
		background: #F0F8FF;
	}
	.items{
		margin: 10px;
		font-size: 20px;
	}
	.items button{
		margin-left: 5px;
	}
	.f-con{
		display: flex;
	}
</style>

<h3>
	<a href="{% url 'logout' %}">Logout, {{ request.user.username }}</a>	
</h3>

<div class="f-con">
	<form id="tform" method="POST">
		{% csrf_token %}
		Add Task {{form.as_p}}
        <input type="submit" id="tsubmit" value="+ add">
	</form>
</div>

<div class="items">
	{% for task in tasks %}
		<div>
			<button id="{{task.id}}" class="delete-b">Delete ❌</button>
			{% if task.is_completed != True %}
				<button id="{{task.id}}" class="is_comp">Complete..</button> 
			{% else %}
				<button id="{{task.id}}" class="is_comp">Completed</button> 
			{% endif %}
			👉🏻 {{task.text}}
		</div>
	{% endfor %}
</div>

<script type="text/javascript">

	// ADD TASK
	$(document).on('submit', '#tform', function(event){
		event.preventDefault();
		
	    var formData = new FormData(this)

    	$.ajax({
            url : "add-task/",
            type : 'POST',
            data : formData,
            processData: false,
            contentType: false,
            success : function(data){
			    $('#task_text').val("")
			    $('.items').prepend(
			    	$('<div><button id="'+data.data.id+'" class="delete-b">Delete ❌</button> <button id="'+data.data.id+'" class="is_comp">Complete..</button> 👉🏻 '+ data.data.text + '</dir>')
			    	)
	        }
        });

	});

	// COMPLETE TASK
	$(document).on('click', '.is_comp', function(){
		cur = $(this)
		task_id = cur.attr("id")

        $.ajax({
	        url : "comp-task/"+task_id,
	        headers: {
            	'X-CSRFTOKEN': '{{ csrf_token }}'
        	},
	        type : "PUT",
	        processData: false,
            contentType: "json",
	        success : function(data){
			    if(data.completed == "True")
			    	cur.text("Completed")
			    else
			    	cur.text("Complete..")
	        }
    	})

	});

	// DELETE TASK
	$(document).on('click', '.delete-b', function(){
		cur = $(this)
		task_id = cur.attr("id")

        $.ajax({
	        url : "delete-task/"+task_id,
	        headers: {
            	'X-CSRFTOKEN': '{{ csrf_token }}'
        	},
	        type : "DELETE",
	        processData: false,
        	contentType: 'json',
	        success : function(data){
			    if (data.deleted == "True")
			    	cur.parent().remove()
	        }
    	})

	});
</script>